.filter-select {
  .ant-select-selection-item {
    font-size: 30px;
    font-weight: 700;
    color: #066f9b;
  }
  div.ant-select-selector {
    border: none !important;
  }
  .ant-select-arrow {
    color: #066f9b;
  }
}
