.edit-form {
  .ant-select-selection-item{
    display: flex;
    align-items: center;
  }
  .ant-select-selector{
    border: none !important;
  }
  .form {
    margin-top: 100px;
    .form-control {
      display: flex;
      align-items: center;
      label,
      input,
      select {
        font-size: 20px !important;
      }
      .ant-picker,
      .ant-input,
      .ant-select-selector {
        height: 44px;
      }
    }
    .btn-group-wrapper{
      display: flex;
      justify-content: flex-end;
      margin-right: 42px;
    }
  }
  .btn-group {
    display: flex;
    gap: 25px;
  
  }
  button {
    padding: 13px 27px;
    border-radius: 4px;
    height: 50px;
    display: flex;
    align-items: center;
  }
}
