.site-page-header {
  background-color: #e11274;
}
.ant-page-header-heading-title {
  color: #fff;
}
.main-layout {
  flex-direction: row;
  height: calc(100vh - 72px);
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}
.ant-layout-sider-children {
  background: #fff;
}
.anticon-menu {
  margin-left: 10px;
  font-size: 20px;
}
// .ant-menu-item:nth-child(2) {
//   margin-bottom: 573px !important;
// }
.ant-layout-content {
  margin: 0 !important;
  border-top: 1px solid rgb(231, 231, 231);
  border-left: 1px solid rgb(231, 231, 231);
}
.anticon {
  margin-right: 10px;
}
