.header {
  background-color: #e11274;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  .ant-page-header-heading-title {
    color: #fff;
  }
}

.main-layout {
  flex-direction: row;
  height: calc(100vh - 72px);
}
.ant-layout-sider.ant-layout-sider-dark {
  position: fixed;
  left: 0;
  top: 72px;
  height: 100vh;
}
#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}
.ant-layout.site-layout {
  padding-left: 270px;
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}
.ant-layout.main-layout {
  padding-top: 72px;
}
#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.collapsed {
  padding-left: 80px !important;
}
.site-layout .site-layout-background {
  background: #fff;
  border-top: 1px solid rgb(231, 231, 231);
  margin: 0 !important;
}
.ant-layout-sider-children {
  background: #fff;
}
.anticon-menu {
  margin-left: 10px;
  font-size: 20px;
}
.anticon {
  margin-right: 10px;
}
.divider {
  margin-top: 28vw !important;
}
