.page-header-content {
  .ant-page-header-heading-title {
    font-weight: 700;
    font-size: 30px;
    color: #000;
  }
  .ant-page-header-heading-sub-title {
    color: #066f9b;
    font-weight: 700;
    font-size: 30px;
  }
}
