.page-header-content {
  display: flex;
  align-items: center;
  padding-left: 0;
  .ant-page-header-heading-title {
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    overflow: unset;
    color: #000;
  }

  .ant-page-header-heading-sub-title {
    color: #066f9b;
    font-weight: 700;
    font-size: 30px;
  }
  .ant-page-header-content {
    padding-top: 0;
  }
  .ant-picker-input > input {
    font-size: 30px;
    font-weight: 700;
    color: #066f9b;
  }
  .ant-select-selection-item {
    font-size: 30px;
    font-weight: 700;
    color: #066f9b;
  }
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
  }
  .ant-select-arrow {
    color: #066f9b;
  }
}
