.tableTimeKeeping {
  .title_filterMonth {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
  }

  .datePicker_month {
    width: 200px;
    border: none;
    color: #066F9B;
  }

  .ant-form-item-label>label::after {
    content: "";
  }

  #dateTime {
    font-size: 30px;
    font-weight: 700;
    color: #066f9b;
  }

  .ant-row {
    display: flex;
    align-items: center;
  }

  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none;
    font-size: 20px;
    font-weight: 700;
    color: #066F9B;
  }

  .ant-select-selection-item {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .ant-select-selection-item::after {
    background-color: #066F9B;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item {
    padding-right: 50px;
  }

  thead .ant-table-cell {
    font-weight: bold;
  }

  tbody .ant-table-cell {
    font-size: 20px;
  }

  .ant-table-body::-webkit-scrollbar {
    height: 10px !important;
  }
}

.modal_content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  p {
    font-size: 20px;
  }
}

.ant-modal-title {
  font-weight: bold;
}

.ant-modal-footer {
  padding: 0;
}