.personal__statistic {
  .total {
    display: flex;
    margin-bottom: 25px;
    &__title {
      font-weight: 700;
      font-size: 25px;
      margin-right: 100px;
    }
    &__number {
      font-weight: 700;
      font-size: 25px;
      color: #066f9b;
    }
  }
}
